<div id="index" class="full-screen grid padding"> <!-- Index -->
    <div class="grid-2 gap container center">
        <div id="que-somos" class="padding">
            <h1>Argentina Hoy <i class="fas fa-star" title="¡Agrega Argentina Hoy a favoritos!"></i></h1>
            <p>Un sitio web para que te informes de todos los indicadores del país, a la vez que podés integrar estos datos a tu aplicación mediante <a href="#plans">nuestra API</a>.</p>
            <div id="buttons" class="grid-2 gap container">
                <a <!--href="/devs/api-tutorial"--> class="light bold padding rounded" onclick="alert('¡Estamos trabajando en ello! :D');">Desarrolla</a>
                <a <!--href="/plans"--> class="light bold padding rounded" onclick="alert('¡Estamos trabajando en ello! :D');">Nuestros servicios</a>
            </div>
        </div>
        <div id="display" class="grid-2 gap padding">
            <p>Dólar oficial (compra) <i class="fas fa-question-circle" title="Es probable que se te aplique el impuesto del 30%"></i> </p><div class="official-dollar cursor-default">${{dollar.buy.official}}</div>
            <p>Dólar oficial (venta) <i class="fas fa-question-circle" title="Es probable que se te aplique el impuesto del 30%"></i></p><div class="official-dollar cursor-default">${{dollar.sell.official}}</div>
            <p>Dólar turista <i class="fas fa-question-circle" title="El dólar turista es asequible desde cualquier cuenta bancaria dolarizada"></i></p><div class="turist-dollar cursor-default">${{dollar.sell.turist}}</div>
            <p>Dólar blue (compra) </p><div class="libre-dollar cursor-default">${{dollar.buy.unofficial}}</div>
            <p>Dólar blue (venta) </p><div class="libre-dollar cursor-default">${{dollar.sell.unofficial}}</div>
            <div class="full-width">
                <a href="#bounty" class="read-more pulseText"><span>Ver todo</span> <i class="rotate fas fa-angle-down"></i></a>
            </div>
        </div>
    </div>
    <div id="argentina">
        <div class="skyBlue"></div>
        <div class="white"></div>
        <div class="skyBlue"></div>
    </div>
</div>

<!-- Bolsa -->
<div id="bounty" class="box padding minimal-list rounded">
    <div id="title-bar" class="box skyBlue padding grid-2 rounded">
        <div id="title">Bolsa y divisas</div>
        <a href="#"><i class="fas fa-times"></i></a>
    </div>
    <div id="wrapper">
        <ul class="padding grid-2">
            <li>
                <h3 class="text-center">Dólar oficial (compra)</h3>
                <div class="stats text-center">
                    <img src="https://cdn.dribbble.com/users/25514/screenshots/1842762/graph-survey-platform-design-ux-interface-ramotion.gif" alt="" width="50%">
                </div>
                <p class="text-center">${{dollar.buy.official}} | <i class="far fa-clock"></i> 1 min</p>
                <div class="box green padding text-center margin-bottom">NOTICIA | <a href="#">Lluvia de inversiones en el 2020. ¡Gracias Albert!</a></div>
            </li>
            <li>
                <h3 class="text-center">Dólar oficial (venta)</h3>
                <div class="stats text-center">
                    <img src="https://cdn.dribbble.com/users/25514/screenshots/1842762/graph-survey-platform-design-ux-interface-ramotion.gif" alt="" width="50%">
                </div>
                <p class="text-center">${{dollar.sell.official}} | <i class="far fa-clock"></i> 1 min</p>
                <div class="box green padding text-center margin-bottom">NOTICIA | <a href="#">Lluvia de inversiones en el 2020. ¡Gracias Albert!</a></div>
            </li>
            <li>
                <h3 class="text-center">Dólar blue (compra)</h3>
                <div class="stats text-center">
                    <img src="https://cdn.dribbble.com/users/25514/screenshots/1842762/graph-survey-platform-design-ux-interface-ramotion.gif" alt="" width="50%">
                </div>
                <p class="text-center">${{dollar.buy.blue}} | <i class="far fa-clock"></i> 1 min</p>
                <div class="box green padding text-center margin-bottom">NOTICIA | <a href="#">Enterate cómo venderle al BNA a precio "libre"</a></div>
            </li>
            <li>
                <h3 class="text-center">Dólar blue (venta)</h3>
                <div class="stats text-center">
                    <img src="https://cdn.dribbble.com/users/25514/screenshots/1842762/graph-survey-platform-design-ux-interface-ramotion.gif" alt="" width="50%">
                </div>
                <p class="text-center">${{dollar.sell.blue}} | <i class="far fa-clock"></i> 1 min</p>
                <div class="box green padding text-center margin-bottom">NOTICIA | <a href="#">El dólar blue se dispara otra vez, ¿plazo fijo o blue?</a></div>
            </li>
        </ul>
    </div>
    
</div> <!-- !Index -->

{{!-- <div id="plans" class="full-screen grid padding">
    <div class="grid-2 gap container center">
        <div class="full-width padding box black">
            <h1>Tenemos un plan</h1>
            <p>Queremos que puedas acceder a toda la información de <strong>Argentina Hoy</strong> de forma fácil y rápida. Es por eso que ideamos tres planes que se adaptan a tus proyectos, ya sean hobbies o aplicaciones con gran número de visitas.</p>
        </div>
        <ul class="grid-3 minimal-list no-margin no-padding">
            <li class="grid-2 gap box blue padding rounded">
                <h2 class="text-center"><i class="fas fa-users"></i> Plan gratuito</h2>
                <p>Suficiente para hobistas o proyectos pequeños</p>
                <ul class="grid-2 gap full-width">
                    <li>Solicitudes ilimitadas para acceder al dólar hoy (oficial y blue)</li>
                </ul>
            </li>
            <li class="grid-2 gap box blue padding rounded">
                <h2 class="text-center"><i class="fas fa-coffee"></i> Plan profesional</h2>
                <p>Ideal para grandes comercios y estadísticas en vivo</p>
                <ul class="grid-2 gap full-width">
                    <li>Incluye el pack gratuito, y además...</li>
                    <li>Hasta 1200 solicitudes por día</li>
                    <li>Acceso al euro hoy</li>
                    <li>Acceso al Real (Brasil)</li>
                    <li>Acceso al Peso Chileno y Uruguayo</li>
                </ul class="grid-2 full-width">
            </li>
            <li class="grid-2 gap box blue padding rounded">
                <h2 class="text-center"><i class="fas fa-project-diagram"></i> Plan ilimitado</h2>
                <p>Ideal para grandes softwares de investigación y/o data science</p>
                <ul class="grid-2 gap full-width">
                    <li>Incluye el pack profesional, y además...</li>
                    <li>Hasta 5000 solicitudes por día</li>
                    <li>Acceso a estadísticas poblacionales</li>
                    <li>Acceso a estadísticas económicas</li>
                    <li>Predicciones precisas mediante Machine Learning</li>
                </ul>
            </li>
        </ul>

        <div class="video-argentina not-mobile rounded"> <!-- video argentina -->
            <video width="100%" height="100%" autoplay muted loop>
                <source src="video/argentina-en-8-bits.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div> <!-- video argentina -->
    </div> --}}
</div>